<div   style="overflow-x: scroll; margin: 0; padding: 0;">

  
  <table class="table" [ngClass]="!(theme$ | async) ? 'table-dark' : ''">
    <thead>
      <tr>
        <th scope="col">
          Rank:
          <br>
          <span (click)="decreaseRank()"><i  class="fa-solid fa-arrow-left"></i></span>
        {{ starter }} - {{ starter + 20 }}
        <span (click)="increaseRank()"><i  class="fa-solid fa-arrow-right"></i></span>
      </th>
      <th scope="col">
        <img
        class="list-group-item col"
        alt="img"
        src="../../../assets/cryptocurrency-icons-master/svg/icon/crpt.svg"
        />
      </th>
      <th scope="col">Name</th>
      <th scope="col" (click)="sortByPrice()">
        Price
        <ng-container *ngIf="sortPrice % 2 == 1 || sortPrice == 0">
          <i class="fa-solid fa-arrow-down-long"></i>
        </ng-container>
        <ng-container *ngIf="sortPrice % 2 == 0 || sortPrice == 0">
          <i class="fa-solid fa-arrow-up-long"></i>
        </ng-container>
      </th>
      <th scope="col" (click)="sortBy1H()">
        1h%
        <ng-container *ngIf="sort1H % 2 == 1 || sort1H == 0">
          <i class="fa-solid fa-arrow-down-long"></i>
        </ng-container>
        <ng-container *ngIf="sort1H % 2 == 0 || sort1H == 0">
          <i class="fa-solid fa-arrow-up-long"></i>
        </ng-container>
      </th>
      <th scope="col" (click)="sortBy24H()">
        24h%
        <ng-container *ngIf="sort24H % 2 == 1 || sort24H == 0">
          <i class="fa-solid fa-arrow-down-long"></i>
        </ng-container>
        <ng-container *ngIf="sort24H % 2 == 0 || sort24H == 0">
          <i class="fa-solid fa-arrow-up-long"></i>
        </ng-container>
      </th>
      <th scope="col" (click)="sortBy7D()">
        7D%
        <ng-container *ngIf="sort7D % 2 == 1 || sort7D == 0">
          <i class="fa-solid fa-arrow-down-long"></i>
        </ng-container>
        <ng-container *ngIf="sort7D % 2 == 0 || sort7D == 0">
          <i class="fa-solid fa-arrow-up-long"></i>
        </ng-container>
      </th>
      <th scope="col">
        Market Cap
        <a class="fa-solid fa-circle-info msupply"
          ><span
            >The total market value of a cryptocurrency's circulating supply. It
            is analogous to the free-float capitalization in the stock market.
            Market Cap = Current Price x Circulating Supply.
            
            <a href="">Read More</a>
          </span></a
          >
        </th>
        <th scope="col">
          Circulating Supply
          <a class="fa-solid fa-circle-info csupply">
            <span
            >The amount of coins that are circulating in the market and are in
            public hands. It is analogous to the flowing shares in the stock
            market.
            
            <a href="">Read More</a></span
          >
        </a>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="cryptoData$ | async as cd">
    <ng-container *ngFor="let crypto of cd; let i = index">
      <tr>
        <td>{{ crypto.rank }}</td>
        <td>
          <img
            [src]="linkToSvg + crypto.symbol.toLowerCase() + '.svg'"
            (error)="handleImageError($event)"
            />
          </td>
        <td>{{ crypto.name }}</td>
        <td>{{ crypto.price_usd | currency }}</td>
        <td
        [ngClass]="{
          'text-danger': crypto.percent_change_1h < 0,
          'text-success': crypto.percent_change_1h > 0
        }"
        >
        {{ crypto.percent_change_1h }}%
      </td>
      <td
      [ngClass]="{
        'text-danger': crypto.percent_change_24h < 0,
        'text-success': crypto.percent_change_24h > 0
      }"
      >
      {{ crypto.percent_change_24h }}%
    </td>
    <td
    [ngClass]="{
      'text-danger': crypto.percent_change_7d < 0,
      'text-success': crypto.percent_change_7d > 0
    }"
    >
          {{ crypto.percent_change_7d }}%
        </td>
        <td>{{ crypto.msupply | currency : "EUR" }}</td>
        <td>{{ crypto.csupply | currency : "EUR" }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

</div>