nav{
    font-size: x-large; 
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-between;
    max-width: 100%;
}
@media (max-width:800px){
    nav{
        width: 1000px
    }
}
